<template src="./template.pug" lang="pug"></template>
<script>
import { ValidationProvider } from 'vee-validate';
export default {
  name: 'Input',
  components: {
    ValidationProvider
  },
  props: {
    id: {
      type: String,
      default: 'Input'
    },
    name: {
      type: String,
      default: 'input'
    },
    label: {
      type: String,
      default: 'Name'
    },
    placeholder: {
      type: String,
      default: 'Write your name'
    },
    isDisabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      value: null
    };
  }
};
</script>
