ValidationProvider(v-slot="{ errors, classes }" tag="div" rules="required" class="w-full relative")
  label(:for="name" class="font-bold text-xs leading-5 mb-1") {{label}}:
  input(
    class="rounded-lg w-full p-4 focus:outline-none focus:ring-1 focus:ring-primary-blue focus:border-transparent disabled:bg-light-gray disabled:border-medium-gray"
    :class="classes.invalid ? 'border-error' : 'border-medium-gray'"
    type="text"
    :id="id"
    :name="name"
    :placeholder="placeholder"
    v-model="value"
    @change='$emit("input", $event.target.value)'
    :disabled="isDisabled"
  )
  p(class="font-bold text-xs leading-5 mt-1 text-error") {{errors[0]}}
  svg(v-if="classes.invalid" class="absolute top-10 right-4" xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
    path(d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='#CC0000')
    path(d='M12 8V12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M12 16H12.01' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
