<template src="./template.pug" lang="pug"></template>
<script>
export default {
  name: 'Input',
  props: {
    id: {
      type: String,
      default: 'button',
      required: true
    },
    name: {
      type: String,
      default: 'button'
    },
    label: {
      type: String,
      default: 'Submit button'
    },
    isDisabled: {
      type: Boolean,
      default: false
    },
    variant: {
      type: String,
      default: 'primary',
      validator: function(value) {
        return ['primary', 'secondary'].indexOf(value) !== -1;
      }
    },
    size: {
      type: String,
      default: 'medium',
      validator: function(value) {
        return ['small', 'medium', 'large'].indexOf(value) !== -1;
      }
    },
    isStretched: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    primaryStyle(bgSlate = 'bg-primary-blue text-white') {
      if (this.variant === 'primary') {
        return bgSlate;
      }
    },
    secondaryStyle() {
      if (this.variant === 'secondary') {
        return 'bg-white text-primary-blue border-primary-blue border-2';
      }
    },
    disabledStyle() {
      if (this.isDisabled) {
        return 'opacity-40 cursor-auto';
      }
    },
    sizeStyle() {
      if (this.size === 'small') {
        if (this.isStretched) {
          return 'px-20 py-0.5 text-sm rounded-sm';
        } else {
          return 'px-3.5 py-0.5 text-sm rounded-sm';
        }
      } else if (this.size === 'medium') {
        if (this.isStretched) {
          return 'px-20 py-2.5 text-sm rounded';
        } else {
          return 'px-7 py-2.5 text-sm rounded';
        }
      } else if (this.size === 'large') {
        if (this.isStretched) {
          return 'px-24 py-3.5 text-base rounded-md';
        } else {
          return 'px-9 py-3.5 text-base rounded-md';
        }
      }
    }
  }
};
</script>
