<template src="./template.pug" lang="pug"></template>
<script>
export default {
  name: 'WelcomeMessage',
  props: {
    name: {
      type: String,
      default: 'Jan'
    }
  },
  methods: {
    getCurrentDate() {
      const today = new Date();
      return (
        today.getDate() +
        '/' +
        (today.getMonth() + 1) +
        '/' +
        today.getFullYear()
      );
    }
  }
};
</script>
