div
    h1(class="bg-primary-primaryBlue h-20vh md:bg-primary-primaryDark") Hello I'm 20vh
    h1(class="bg-primary-primaryDark h-40vh") Hello I'm 40vh
    h1(class="bg-primary-primaryLight h-40vh") Hello I'm 40vh
