<template lang="pug">
  div
    ValidationObserver(v-slot="{ invalid }" class="relative h-screen w-screen")
      Input(v-model="formData.firstName" :is-disabled="true" id="input1")
      Input(v-model="formData.lastName" id="input2")
      Input(v-model="formData.email" id="input3")
      div(class="w-9/12")
        Button(:is-disabled="false" variant="primary" size="small" :is-stretched="true" id="button1")
      div(class="w-9/12")
        Button(:is-disabled="false" variant="primary" size="small" :is-stretched="false" id="button2")
      div(class="w-9/12")
        Button(:is-disabled="false" variant="secondary" size="medium" :is-stretched="true" id="button3")
      div(class="w-9/12")
        Button(:is-disabled="false" variant="secondary" size="medium" :is-stretched="false" id="button4")
      div(class="w-9/12")
        Button(:is-disabled="true" variant="primary" size="large" :is-stretched="true" id="button5")
      div(class="w-9/12")
        Button(:is-disabled="true" variant="primary" size="large" :is-stretched="false" id="button6")
      div(class="w-9/12")
        Button(:is-disabled="true" variant="secondary" id="button7")
</template>

<script>
import { ValidationObserver } from 'vee-validate';
import Input from './components/input/index.vue';
import Button from './components/button/index.vue';

export default {
  name: 'App',
  components: {
    Input,
    Button,
    ValidationObserver
  },
  data() {
    return {
      formData: {
        firstName: null,
        lastName: null,
        email: null
      }
    };
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
